@import '../../../scss/abstracts/constants';

.change-password {
  &__form {
    display: flex;
    flex-direction: column;
    .form {
      &__item {

      }
      &__button {
        margin-top: $margin-side;
      }
      &__checkbox {
        margin: 5px 0;
      }
      &__document-links {
        display: flex;
        flex-wrap: wrap;
        .documents {
          &__item {
            cursor: pointer;
            color: $primary-color;
            margin: 5px !important;
          }
        }
      }
      &__login-text {
        margin-top: $margin-side !important;
      }
      &__login-link {
        cursor: pointer;
        color: $primary-color;
      }
    }
  }
  ::ng-deep .mat-checkbox-layout {
    white-space: normal !important;
  }
}
