<div class="change-password">
  <form class="change-password__form form" [formGroup]="changePassportForm">

    <mat-form-field class="form__item">
      <input
        required
        matInput
        placeholder="{{'OLD_PASSWORD' | translate}}"
        formControlName="old_password"
        maxlength="30"
        type="password"
      >
      <mat-hint align="end">
        {{changePassportForm.get('old_password').value?.length}} / 30
      </mat-hint>
      <mat-error *ngIf="changePassportForm.hasError('required', 'old_password')">
        {{ 'REQUIRED_ERROR' | translate }}
      </mat-error>
      <mat-error *ngIf="serverValidationForm.isServerValidationError('old_password')">
        {{ serverValidationForm.getServerValidationError('old_password') | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__item">
      <input
        required
        matInput
        placeholder="{{'PASSWORD' | translate}}"
        formControlName="password"
        maxlength="30"
        type="password"
      >
      <mat-hint align="end">
        {{changePassportForm.get('password').value?.length}} / 30
      </mat-hint>
      <mat-error *ngIf="changePassportForm.hasError('required', 'password')">
        {{ 'REQUIRED_ERROR' | translate }}
      </mat-error>
      <mat-error *ngIf="serverValidationForm.isServerValidationError('password')">
        {{ serverValidationForm.getServerValidationError('password') | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__item">
      <input
        required
        matInput
        placeholder="{{'CONFIRMATION_PASSWORD' | translate}}"
        formControlName="password_confirmation"
        maxlength="30"
        type="password"
      >
      <mat-hint align="end">
        {{changePassportForm.get('password_confirmation').value?.length}} / 30
      </mat-hint>
      <mat-error *ngIf="changePassportForm.hasError('notSame', 'password_confirmation')">
        {{'PASSWORDS_DO_NOT_MATCH' | translate}}
      </mat-error>
    </mat-form-field>

    <button
      *ngIf="isChangePasswordRequestCompleted; else spinner"
      (click)="changePasswordBtnHandle()"
      mat-stroked-button
      color="primary"
      class="form__button"
      [disabled]="!changePassportForm.valid"
    >
      {{'CHANGE_PASSWORD' | translate}}
    </button>

    <ng-template #spinner>
      <app-progress-spinner></app-progress-spinner>
    </ng-template>

  </form>
</div>
