<div class="change-forgotten-password">
  <div class="change-forgotten-password__content content">
    <div class="content__header header">
      <h3 class="header__title">{{'PASSWORD_CHANGE_FORM' | translate}}</h3>
    </div>
    <div class="content__container container">
      <form class="container__form form" [formGroup]="changePasswordFormGroup">

        <mat-form-field class="form__item">
          <input
            required
            matInput
            placeholder="{{'EMAIL' | translate}}"
            formControlName="email"
            maxlength="100"
          >
          <mat-hint align="end">
            {{changePasswordFormGroup.get('email').value?.length}} / 100
          </mat-hint>
          <mat-error *ngIf="changePasswordFormGroup.hasError('email', 'email')">
            {{ 'EMAIL_ERROR' | translate }}
          </mat-error>
          <mat-error *ngIf="changePasswordFormGroup.hasError('required', 'email')">
            {{ 'REQUIRED_ERROR' | translate }}
          </mat-error>
          <mat-error *ngIf="serverValidationForm.isServerValidationError('email')">
            {{ serverValidationForm.getServerValidationError('email') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form__item">
          <input
            required
            matInput
            placeholder="{{'PASSWORD' | translate}}"
            formControlName="password"
            maxlength="30"
            type="password"
          >
          <mat-hint align="end">
            {{changePasswordFormGroup.get('password').value?.length}} / 30
          </mat-hint>
          <mat-error *ngIf="changePasswordFormGroup.hasError('required', 'password')">
            {{ 'REQUIRED_ERROR' | translate }}
          </mat-error>
          <mat-error *ngIf="serverValidationForm.isServerValidationError('password')">
            {{ serverValidationForm.getServerValidationError('password') | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form__item">
          <input
            required
            matInput
            placeholder="{{'CONFIRMATION_PASSWORD' | translate}}"
            formControlName="password_confirmation"
            maxlength="30"
            type="password"
          >
          <mat-hint align="end">
            {{changePasswordFormGroup.get('password_confirmation').value?.length}} / 30
          </mat-hint>
          <mat-error *ngIf="changePasswordFormGroup.hasError('notSame', 'password_confirmation')">
            {{'PASSWORDS_DO_NOT_MATCH' | translate}}
          </mat-error>
        </mat-form-field>

        <button
          *ngIf="isSaveNewPasswordRequestCompleted; else spinner"
          (click)="saveNewPassword()"
          mat-stroked-button
          color="primary"
          class="form__button"
          [disabled]="!changePasswordFormGroup.valid"
        >
          {{'CHANGE_PASSWORD' | translate}}
        </button>

        <ng-template #spinner>
          <app-progress-spinner></app-progress-spinner>
        </ng-template>

      </form>
    </div>
  </div>
</div>
