@import '../../../scss/abstracts/constants';

.change-forgotten-password {
  margin: $margin-main auto;
  max-width: $container-max-width;
  &__container {
    margin: $margin-main $margin-side;
  }
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .content {
      &__header {
        display: flex;
        justify-content: center;
        .header {
          &__title {
            &::first-letter {
              text-transform: capitalize;
            }
            display: inline-block;
            color: $dark-text;
            font-size: 42px;
            line-height: 50px;
          }
        }
      }
      &__container {
        width: 50%;
        margin: $margin-main 0;
        @media screen and (max-width: 600px) {
          width: 100%;
        }
        .container {
          &__form {
            display: flex;
            flex-direction: column;
            .form {
              &__item {

              }
              &__button {
                margin-top: $margin-side;
              }
              &__registration-text {
                margin-top: $margin-side !important;
              }
              &__registration-link {
                cursor: pointer;
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}
