<div class="registration">
    <div class="registration__container container">
        <div class="container__header--wrapper">
            <h2 class="container__header">
                {{'REGISTRATION' | translate}}
            </h2>
        </div>
        <div class="container__content content">
            <form class="content__form form" [formGroup]="registerFormGroup">
                <mat-form-field class="form__item">
                    <input
                        required
                        matInput
                        placeholder="{{'EMAIL' | translate}}"
                        formControlName="email"
                        maxlength="100"
                    >
                    <mat-hint align="end">
                        {{registerFormGroup.get('email').value?.length}} / 100
                    </mat-hint>
                    <mat-error *ngIf="registerFormGroup.hasError('email', 'email')">
                        {{ 'EMAIL_ERROR' | translate }}
                    </mat-error>
                    <mat-error *ngIf="registerFormGroup.hasError('required', 'email')">
                        {{ 'REQUIRED_ERROR' | translate }}
                    </mat-error>
                    <mat-error *ngIf="serverValidationForm.isServerValidationError('email')">
                        {{ serverValidationForm.getServerValidationError('email') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form__item">
                    <input
                        required
                        matInput
                        placeholder="{{'PASSWORD' | translate}}"
                        formControlName="password"
                        maxlength="30"
                        type="password"
                    >
                    <mat-hint align="end">
                        {{registerFormGroup.get('password').value?.length}} / 30
                    </mat-hint>
                    <mat-error *ngIf="registerFormGroup.hasError('required', 'password')">
                        {{ 'REQUIRED_ERROR' | translate }}
                    </mat-error>
                    <mat-error *ngIf="serverValidationForm.isServerValidationError('password')">
                        {{ serverValidationForm.getServerValidationError('password') | translate }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form__item">
                    <input
                        required
                        matInput
                        placeholder="{{'CONFIRMATION_PASSWORD' | translate}}"
                        formControlName="password_confirmation"
                        maxlength="30"
                        type="password"
                    >
                    <mat-hint align="end">
                        {{registerFormGroup.get('password_confirmation').value?.length}} / 30
                    </mat-hint>
                    <mat-error *ngIf="registerFormGroup.hasError('notSame', 'password_confirmation')">
                        {{'PASSWORDS_DO_NOT_MATCH' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-checkbox class="form__checkbox" formControlName="usage_policy">
                    {{'I_AGREE_TO_THE_TERMS_OF_SERVICE' | translate}}
                    <mat-error *ngIf="serverValidationForm.isServerValidationError('usage_policy')">
                        {{ serverValidationForm.getServerValidationError('usage_policy') | translate }}
                    </mat-error>
                </mat-checkbox>
                <button
                    *ngIf="isRegistrationRequestCompleted; else spinner"
                    (click)="registrationHandle()"
                    mat-stroked-button
                    color="primary"
                    class="form__button"
                    [disabled]="!registerFormGroup.valid"
                >
                    {{'REGISTER' | translate}}
                </button>

                <p class="form__login-text">{{'HAVE_AN_ACCOUNT?' | translate}}
                    <span class="form__login-link" (click)="goToLoginPage()">{{'LOG_IN' | translate}}</span>
                </p>

                <ng-template #spinner>
                    <app-progress-spinner></app-progress-spinner>
                </ng-template>

            </form>
        </div>
    </div>
</div>
