<div class="reset-password">
  <form class="reset-password__form form" [formGroup]="resetPasswordFormGroup">
    <mat-form-field class="form__item">
      <input
        required
        matInput
        placeholder="{{'EMAIL' | translate}}"
        formControlName="email"
      >
      <mat-error *ngIf="resetPasswordFormGroup.hasError('email', 'email')">
        {{ 'EMAIL_ERROR' | translate }}
      </mat-error>
      <mat-error *ngIf="resetPasswordFormGroup.hasError('required', 'email')">
        {{ 'REQUIRED_ERROR' | translate }}
      </mat-error>
    </mat-form-field>
    <button
      *ngIf="isResetPasswordRequestCompleted; else spinner"
      (click)="resetPasswordHandle()"
      mat-raised-button
      color="primary"
      class="form__button"
      [disabled]="!resetPasswordFormGroup.valid"
    >
      {{'RESET_PASSWORD' | translate}}
    </button>

    <p class="form__registration-text">{{'DONT_HAVE_AN_ACCOUNT_YET?' | translate}}
      <span class="form__registration-link" (click)="goToRegistrationPage()">{{'SING_UP' | translate}}</span>
    </p>
    <ng-template #spinner>
      <app-progress-spinner></app-progress-spinner>
    </ng-template>

  </form>
</div>
