@import '../../../scss/abstracts/constants';

.reset-password {
  &__form {
    display: flex;
    flex-direction: column;
    .form {
      &__item {

      }
      &__button {
        margin-top: $margin-side;
      }
      &__registration-text {
        margin-top: $margin-side !important;
      }
      &__registration-link {
        cursor: pointer;
        color: $primary-color;
      }
    }
  }
}
